html {
    scroll-behavior: smooth;
  }
  
  body {
    width: 100%;
    font-family: "IBM Plex Mono", sans-serif;
    
    background: #000;
  }

.container {
    margin: 0 auto;
    box-sizing: border-box;
    width: 1153px;
}
.welcome {
    width: 100%;
    height: 765px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 35%;
    background-image: url("../resources/welcome.jpg");
}

.welcome__logo-title {
    position: relative;
    right: 12px;
    bottom: 9px;
    left: 9px;

    font-size: 42.414px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -4.666px;
    text-transform: uppercase;
    
    color: #1BFF07;
}
.welcome__logo-black {
    position: absolute;
    margin-top: 36px;
    width: 130px;
    height: 39px;
    border-radius: 100px;
    background: #000;
    text-decoration: none;
}

.welcomenav {
    padding-top: 33px;
    float: right;
}

.welcomenav__link {
   
    padding-left: 43px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.54px;
    text-transform: lowercase;
    text-decoration: none;
    
    color: #FFF;
}

.welcomenav__link:hover {
    color: #1BFF07;
}

.welcome__text {
    padding-top: 334px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.6px;
    
    color: #FFF;
    }

.welcome__title {
    padding-top: 29px;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -2.4px;
    
    color: #1BFF07;
}
 
.common-title {
    margin-top: 150px;
    margin-bottom: 40px;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -1.65px;
    
    color: #FFF;
}



.project__list {
    position: relative;
    display: inline-block;
    width: 1150px;
   height: 550px;
  object-fit: cover;
}

.project__title {
    left: 50px;
    bottom: 94px;
    position: absolute;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: -1.05px;
    
    color: #FFF;
}

.project__title::before {
background-color: #FFF;

}

.project__text {
    left: 50px;
    bottom: 50px;
    position: absolute;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.9px;
    
    color: #FFF;
}

.project__link:hover {
    opacity: 0.5;
}


.project__gradient {
	display: inline-block;
	position: relative;    
	line-height: 0;
}
.project__gradient:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 20%) 0%, rgba(0, 0, 0) 100%);

	opacity: 0.8;
}

.project__gradient:hover {
    opacity: 0.7;
}

.project__img {
    width: 1150px;
    height: 550px;
   object-fit: cover;
   border-radius: 30px;
}